<div id="game">
<h1>Blackjack</h1>
  <%if @loser %>
      <div class="alert alert-error"><%=@loser%></div>
    <% end %>
    <% if @winner %>
      <div class="alert alert-success"><%= @winner %></div>
    <% end %>

<h3>Welcome <%= session[:player_name] %></h3>
<p><%= session[:player_name] %> bet <strong>$<%= session[:player_bet] %></strong></p>


<% if @play_again %>
<p>
	<strong>Play again?</strong>
	<a href="/bet" class="btn btn-primary">Yes</a>
	<a href="/game_over" class="btn">No</a>
</p>

<% end %>

<div class="well" id="dealer-section">

<h4>Dealers cards:</h4>


	<% session[:dealer_cards].each_with_index do |card, i| %>
	<% if session[:turn] != 'dealer' && i == 0 %>		
		<img src="/images/cards/cover.jpg" >
	<% else %>
		<%= card_image(card) %>
		<% end %>
	<% end %>

	<h5>Dealer has <%= calculate_total(session[:dealer_cards]) %></h5>
	<p>
	<% if @show_dealer_hit_button %>
		<form action="/game/dealer/hit" method="post">
			<input type="submit" class="btn btn-primary" value="Click to see dealer card &rarr;" />
		</form>
	<% end %>
	</p>
</div>


<div class="well" id="player-section">
<h4>Player Cards: </h4>

	<% session[:player_cards].each do |card| %>
		<%= card_image(card) %>
	<% end %>


<p>
	<%= session[:player_name] %> has <%= calculate_total(session[:player_cards]) %>
</p>

</div>

<% if @show_hit_or_stay_button %>

<form action="/game/player/hit" method="post" id="hit_form">
	<input type="submit" class="btn btn-success" value="hit"/>
</form>

<form action="/game/player/stay" method="post" id="stay_form">
	<input type="submit" class="btn btn-warning" value="stay"/>
</form>

<% end %>


</div>